html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  z-index: 9;
  position: absolute;
  right: -10px;
}

.react-resizable-handle-s {
  height: 10px;
  min-height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  z-index: 9;
  position: absolute;
  bottom: -10px;
}
.rbc-day-slot .rbc-time-slot{
  border-top: 1px solid rgba(255, 255, 255, 0.2)!important; 
}
.rbc-day-slot .rbc-time-slot:nth-child(2){
  border-top: 1px dashed rgba(255, 255, 255, 0.2)!important;
}

.rbc-today {
  background-color: rgba(255, 255, 255, 0.2)!important;
}

.rbc-day-slot .rbc-events-container{
  margin-right:0px!important;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.rbc-timeslot-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)!important;
}

.rbc-btn-group button{
  color:white!important;
}

.rbc-btn-group .rbc-active, .rbc-btn-group button:hover{
  color: gray !important;
}

.rbc-time-slot .rbc-label{
  font-size: 12px!important;
}